<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="cerrarModal()">
      <ion-icon name="arrow-back" style="zoom:1.5;"></ion-icon>
    </ion-buttons>
    <ion-title slot="start">{{nameCategory}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!--<input (keyup.enter)=" traerHistorias() " #txtBuscar>-->
    <ion-searchbar animated autocorrect="off" (ionChange)="buscar($event)" color="danger"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list >

    <ion-item *ngFor="let items of historia | filtro: textoBuscar: 'nameHistory'" (click)="ingresarHistoria(items)" id="hola" >
      <ion-thumbnail slot="start">
       <img src="{{items.imagesHistory}}" />
      </ion-thumbnail>
      <ion-label>
        <h3 id="nameHistori">{{items.nameHistory}}</h3>
        <p class="date"> Fecha creación: {{items.dateHistory | date : 'shortDate'}}</p>
        <p>{{items.descriptionHistory}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
