.fullscreen{
  --border-color: #2dd36f;
  --background: red;
  --width: 100%;
  --max-width:100%;
  --backdrop-opacity:0.1;
}

ion-list{
  margin-top: 5px;

}
ion-label{
  margin-left: 30px;
}
h3{
  color: #2dd36f;
  text-transform: uppercase;
}
.date{
  //background-color: #DDDDDD;
  margin-right: 40px;
}
img{
  padding: -20px;
}

