<ion-tabs>
  <ion-tab-bar slot="bottom"> 
    <ion-tab-button tab="categoria">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historia">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Historia</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>