
<ion-header>
  <ion-toolbar>
    <ion-title>categoria</ion-title>
    
  </ion-toolbar>
  

</ion-header>

<ion-content>
  <ion-list>   
    <ion-item >
      <ion-thumbnail slot="end">
       <img src="#" />
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="#" />
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>

